// Users.scss
.users {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__header {
        width: 100%;
        margin-bottom: 20px;

        &__title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__buttons {
                display: flex;
                gap: 10px;
                
                .admin-button, .company-button {
                    font-weight: bold;
                    border-radius: 4px;
                    
                }

                .admin-button {
                    background-color: #1976d2;
                    color: white;
                    width: 212px;
                    
                    &:hover {
                        background-color: #303f9f;
                    }
                }

                .company-button {
                    background-color: #636060;
                    color: white;
                    width: 220px;

                    &:hover {
                        background-color: black;
                    }
                }
            }
        }

        &__nav {
            margin-left: 20px;
        }
    }

    &__content {
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        &__searcher {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            &__top {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                padding: 5px;
                width: 100%;
                align-items: center;

                &__input {
                    flex: 1;
                }

                &__select {
                    min-width: 200px;
                }
            }

            &__bottom {
                width: 10%;
                margin: 5px;
            }
        }

        &__subtitle {
            margin: 15px;
        }

        &__not-found {
            display: flex;
            justify-content: center;
            font-size: 25;
            font-weight: bold;
            align-items: center;
        }

        &__cards,
        &__all-users-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin: 10px;
            width: 100%;
        }
    }

    &__dialog {
        color: red;
    }
}

.iconFiltered {
    color: blue;
}
