.users{
    width: 100%;
    
    &__header {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;

        &__title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: 20px;

            &__new-admin {
                margin-right: 10px;
            }
        }

        &__nav{
            margin-left: 20px;
        }
    }

    &__content{
        width: 100%;
        margin-top: 15px;
        
        &__searcher{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            &__top {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                padding: 5px;
                width: 100%;

                &__input{
                    width: 100%;
                }
        
                &__select{
                    width: 50%;
                    flex: 1;
                }
            }

            &__bottom {
                width: 10%;
                margin: 5px;
            }
        }

        &__subtitle {
            margin: 15px;
        }

        &__not-found {
            display: flex;
            justify-content: center;
            font-size: 25;
            font-weight: bold;
            align-items: center;
        }

        &__cards {
            display: flex;
            width: 90vw;
            gap: 20px;
            margin: 10px;
            overflow-x: scroll;
            overflow-y: hidden;
        }  

        &__all-users-cards {
            display: flex;
            width: 90vw;
            gap: 20px;
            margin: 10px;
            overflow-y: scroll;
            overflow-x: hidden;
        }       
    }
}

.iconFiltered {
    color: blue;
}