.tickets {
  width: 100%;

  &__header {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;

    &__title {
      margin-left: 20px;
    }

    &__nav {
      margin-left: 20px;
    }
  }

  &__content {
    width: 100%;
    margin-top: 15px;
    padding-left: 5%;
    padding-right: 5%;

    &__searcher {
      padding: 10px;
      display: flex;
      flex-direction: column;

      &__top {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 5px;
        
        &__date {
          color: #ccc; // Cambiar al color del fondo o un color que prefieras

          &::placeholder { // Esto cambia el color del placeholder si está afectando como marca de agua
            color: #ccc; // Asegúrate de que esto coincide con el estilo general
          }
        }

        &__input {
          flex: 1;
        }

        &__select, &__date {
          flex: 0.5;
        }
      }

      &__bottom {
        width: 10%;
        margin: 5px;
      }
    }

    &__info-section {
      margin-top: 5px;

      &__button {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
      }

      &__table {
        background-color: #636060;
        margin: 15px;

        .MuiTableCell-root {
          color: white;
        }

        &__headers {
          font-weight: bold;
          text-align: center;
        }

        &__content {
          align-items: center;
          text-align: center;
          vertical-align: middle;

          .action-icons {
            display: flex;
            justify-content: space-between;
            width: 80px; 
          }
        }
      }
    }
  }

  &__dialog {
    color: red;
  }
}

.tickets__content__info-section__table__content {
  text-align: center;
  vertical-align: middle;
}

.tickets__content__info-section__table__headers {
  text-align: center;
}

.tickets__content__info-section__table__content .status {
  display: inline-block;
  padding: 1px 5px; 
  border-radius: 5px;
  text-align: center;
  border: 2px solid;
  font-weight: bold;
}

.status-nuevo {
  color: red;
  border-color: red;
  width: 90px;
}

.status-en-espera {
  color: orange;
  border-color: orange;
  width: 90px;
}

.status-respondido {
  color: blue;
  border-color: blue;
  width: 95px;
}

.status-resuelto {
  color: green;
  border-color: green;
  width: 95px;
}

.status-default {
  color: black;
  border-color: black;
  width: 95px;
}

.tickets__content__searcher__top__date-range {
  display: flex;
  align-items: center;
  gap: 10px;

  &-dash {
    font-size: 20px; // Ajustar tamaño según necesidad
    padding: 0 5px;
  }

  .tickets__content__searcher__top__button {
    min-width: 90px; // Asegura que los botones tengan un mínimo de anchura
  }

  .tickets__content__searcher__top__date {
    width: 180px; // Asegura que los inputs de fecha tengan un tamaño adecuado
  }
}

.tickets__content__info-section__button {
  display: flex;
  justify-content: flex-end; /* Esto asegura que el botón siempre esté a la derecha */
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 0 15px; /* Añade algo de padding si es necesario */
  gap: 10px; /* Añade espacio entre el select y el botón */
}


.tickets__content__searcher__top__select {
  max-width: 15%;
}
