.request-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; // Altura mínima para ocupar toda la altura de la ventana

    form {
        display: flex;
        flex-direction: column;
        align-items: center; // Asegura que todo dentro del form también esté centrado
        width: 100%; // Ajusta esto según el ancho deseado
        max-width: 400px; // Ancho máximo para que no sea demasiado grande en pantallas grandes
        background-color: white;
        padding: 20px;
        border-radius: 10px; // Bordes redondeados
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra suave

        .MuiTextField-root {
            margin-bottom: 20px; // Espacio entre el campo de texto y el botón
            width: 90%; // Ajustar el ancho del TextField para que no sea demasiado estrecho o ancho
        }

        .MuiButton-root {
            width: 90%; // Hacer que el botón tenga el mismo ancho que el campo de texto
            background-color: #1976d2; // Color de botón para seguir el esquema de colores
            color: white;
            &:hover {
                background-color: darken(#1976d2, 10%); // Oscurecer el botón al pasar el mouse
            }
        }
    }
}
