.header{
    align-items: center;
    justify-content:center;
    position: relative;
    &__title{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        &__name{
            margin-right: 100px
            
            ;
        }
        &__problem{
            margin-left: 750px;
        }
    }
    &__nav{
        margin-top: 35px;
    }
}

.content{
    margin-top: 30px;
    &__date{
        padding: 30px;
        display: flex;
        flex-direction: column;

    }
    &__button{
        margin-left: 1145px;
        
    }
    &__divisor{
        padding: 20px;
    }
}

.footer{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    &__label{
        width: 1200px;
        
        padding-right: 5px;
    }
}