.create-ticket{
    width: 100%;
    
    &__header {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;

        &__title{
            margin-left: 20px;
        }

        &__nav{
            margin-left: 20px;
        }
    }

    &__content{
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;

        &__title{
            padding-top: 10px;
            padding-left: 10px;
        }

        &__top {
            display: flex;
            gap: 10px;
            padding: 5px;

            &__input{
                width: 50%;
            }
    
            &__select{
                width: 50%;
            }
        }

        &__bottom {
            padding: 5px;

            &__title {
                padding-top: 10px;
                padding-left: 5px;
            }

            &__tipoProblema{
                width: 100%;
                margin-bottom: 10px;
            }

            &__descripcion{
                width: 100%;
            }
        
            &__button-container{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                padding: 15px;
            }
        }
    }
}